.layout {
  .background-container {
    position: relative;

    .background {
      background-image: url('./assets/rick-and-morty-background.png');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 20vh;
      width: 100%;
      opacity: 0.2;
    }

    .title {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      text-align: center;
      font-size: 4.5rem !important;

      @media (max-width: 768px) {
        font-size: 2rem !important;
      }
    }
  }
}